<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>Alexander's Portfolio</title>
    <!-- font icons -->
    <link rel="stylesheet" href="../static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="../static/assets/css/johndoe.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link text-light" href="https://github.com/Anyaegbunam-Alexander" target="_blank"><i class="ti-github" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://www.linkedin.com/in/alexander-anyaegbunam-094141154" target="_blank"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://join.skype.com/invite/cXtVkPIX4vcn" target="_blank"><i class="ti-skype" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://twitter.com/AnyaegbunamaA" target="_blank"><i class="ti-twitter" aria-hidden="true"></i></a></li>
            </ul>  
            <div class="header-content">
                <h4 class="header-subtitle" >Hello, I am</h4>
                <h1 class="header-title">Alexander</h1>
                <h6 class="header-mono" >Python Developer | Data Analyst</h6>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">Resume</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="../static/assets/imgs/Headshot.jpg" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">Alexander</h5>
                        <div class="brand-subtitle">Python Developer | Data Analyst</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#about" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Who am I ?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">Python Developer | Data Analyst</h5>
                <p class="mt-20">
                    Alexander is a skilled <span class="span-bold">Python</span> web developer and data analyst.
                    He specializes in using <span class="span-bold">Python</span> to build robust and efficient web applications 
                    and APIs, as well as utilizing data analysis techniques to extract valuable insights from large datasets. He is 
                    well-versed in web development frameworks such as <span class="span-bold">Flask</span> and <span class="span-bold">Django</span> and has a 
                    strong understanding of HTML, CSS, 
                    and JavaScript. Alex is also experienced in <span class="span-bold">SQL</span> and database management and can extract, manipulate, and 
                    transform data to support business decisions. He has a track record of delivering successful projects and 
                    constantly works to improve his skills and stay up-to-date with the latest industry trends.
                </p>
                <button class="btn btn-outline-danger"><i class="icon-down-circled2 "></i><a href="https://drive.google.com/file/d/1l_M7G9aPZiDBT3SO29CnqFJqEUyM3N07/view?usp=sharing" class="cv-btn" target="_blank">View My CV</a></button>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Contact Info</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Email</span> : <a href="mailto: anyaegbunamalexander042@gmail.com">anyaegbunamalexander042@gmail.com</a></li>
                    <li><span>Phone</span> : (+234) 08135665042</li>
                </ul>
                <ul class="social-icons">
                    <li class="social-item"><a class="social-link" href="https://github.com/Anyaegbunam-Alexander" target="_blank"><i class="ti-github" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="https://www.linkedin.com/in/alexander-anyaegbunam-094141154" target="_blank"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="https://join.skype.com/invite/cXtVkPIX4vcn" target="_blank"><i class="ti-skype" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="https://twitter.com/AnyaegbunamaA" target="_blank"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                </ul>  
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">My Expertise</h3>
                <span class="line mb-5"></span>
                
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-harddrives icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Backend Web Development</h6>
                        <p class="subtitle">
                            Using Django or Flask to design and develope the server-side of 
                            web applications using the Python programming language.
                            Implement server-side logic, authentication, and authorization. 
                            Create and maintain databases using MySQL, PostgreSQL, etc.
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-bar-chart icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Data Analysis</h6>
                        <p class="subtitle">
                            Analyze large datasets and extract meaningful insights using Python or R programming 
                            languages and various data analysis libraries such as Pandas, Numpy, and Tidyverse. 
                            Clean, manipulate, and visualize data. Communicate findings to stakeholders to help
                             make data-driven decisions. Work with databases such as MySQL, PostgreSQL, etc. 
                             Create automated scripts and tools to process and analyze data regularly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Resume Section-->
    <section class="section" id="resume">
        <div class="container">
            <h2 class="mb-5"><span class="text-danger">My</span> Resume</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Experiences</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">Data Collecting Consultant</h6>
                            <P>
                                National Social Safety-Nets Coordinating Office (NASSCO) <br>
                                State Operations Coordinating Unit, Government House, Awka, Anambra, Nigeria <br>
                                Mar 2020 - Jan 2022
                            </P>
                            <button class="collapsible-btn">More</button>
                            <div class="content">
                                <P class="subtitle">
                                    <ul style="list-style-type:disc">
                                        <li>Collected and accurately entered data into a designated system with 99% accuracy</li>
                                        <li>Developed a system that significantly reduced data collection efforts by 70% which reduced data-cleaning efforts by 40%</li>
                                        <li>Consistently produced high-quality data sets which increased overall productivity by 15%</li>
                                        <li>Gained proficient experience using various software tools to process and analyze data, resulting in an 85% reduction in turnaround time for generating reports</li>
                                    </ul>
                                </P>
                            </div>
                            <hr>

                            <h6 class="title text-danger">Structural Engineer (Intern)</h6>
                            <P>
                                Federal Ministry of Power, Works and Housing <br>
                                Field Headquarters, Awka, Anambra State, Nigeria <br>
                                Jun 2018 - Dec 2018
                            </P>
                            <button class="collapsible-btn">More</button>
                            <div class="content">
                                <P class="subtitle">
                                    <ul style="list-style-type:disc">
                                        <li>Successfully designed and analyzed 8 structural systems using CAD and analysis software, resulting in 43% reduction in design errors and 23% increase in efficiency</li>
                                        <li>Participated in project meetings and contributed to the development of design solutions</li>
                                        <li>Contributed to 4 project meetings and assisted in the development of 11 design solutions, resulting in 20% increase in project completion rate</li>
                                        <li>Conducted research and gathered data for 15 project-specific tasks, resulting in 30% increase in project accuracy and precision</li>
                                        <li>Assisted in the preparation of 5 engineering reports and presentations, resulting in 43% positive feedback from clients and project stakeholders.</li>
                                    </ul>  
                                </P>
                            </div>
                            <hr>
                            
                            <h6 class="title text-danger">Registration Specialist</h6>
                            <P>Deacons Digital Solutions Nig Ltd <br>
                            Mar 2016 - Jun 2018</P>
                            <button class="collapsible-btn">More</button>
                            <div class="content">
                                <P class="subtitle">
                                    <ul style="list-style-type:disc">
                                        <li>Successfully coordinated the registration process for over 1,000 applicants, resulting in 45% increase in registration numbers</li>
                                        <li>Managed online registration platforms resulting in 40% decrease in registration errors and 45% increase in registration completion rate</li>
                                        <li>Responded to over 200 registration inquiries, resulting in 90% satisfaction rate among registrants</li>
                                        <li>Maintained accurate records of over 1,000 registrations and payment information, resulting in 40% decrease in registration errors and 90% increase in financial accuracy</li>
                                        <li>Successfully handled registration tasks independently and as part of a team, resulting in 50% increase in team productivity.</li>
                                    </ul>
                                </P>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Education & Certifications</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">B.Eng Civil Engineering</h6>
                            <P>Federal University of Technology, Owerri <br> Dec 2014 - Dec 2019</P>
                            <hr>
                            <h6 class="title text-danger">Backendend Engineering, Python</h6>
                            <P>AltSchool Africa <br> Apr 2022 - Mar 2023</P>
                            <hr>
                            <h6 class="title text-danger">Google Data Analytics Specialization</h6>
                            <P>Coursera - Jan 2023</P>
                            <hr>
                            <h6 class="title text-danger">Data Analysis with Python</h6>
                            <P>freeCodeCamp - Jan 2023</P>
                            <hr>
                            <h6 class="title text-danger">Scientific Computing with Python</h6>
                            <P>Coursera - Dec 2022</P>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Skills</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>Python</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>SQL</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>R</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Flask</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Django</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>JavaScript</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                           <h6>HTML &amp; CSS</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>  
                            <h6>Microsoft Excel</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Power BI</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Microsoft Access</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>DAX</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>SAS</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Tableau</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>PostgreSQL</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="section-port bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">My</span> Portfolio</h1>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".all" class="active">
                        All
                    </a>
                    <a href="#" data-filter=".py-projects">
                        Python_Projects
                    </a>
                    <a href="#" data-filter=".dt-analysis">
                        Data_Analysis
                    </a>
                </div>
                <div class="portfolio-container"> 
                    <div class="col-md-6 col-lg-4 py-projects all">
                        <div class="portfolio-item">
                            <img src="../static/assets/imgs/celestron.png" class="img-fluid" alt="Celestron landing page">
                            <div class="content-holder">
                                <a class="img-popup" href="../static/assets/imgs/celestron.png"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a href="https://github.com/Anyaegbunam-Alexander/Celestron" class="projects" target="_blank">Celestron</a></h6>
                                    <p class="subtitle">Blog app built with Flask, PostgreSQL, and Python</p>
                                </div>
                            </div>   
                        </div>             
                    </div>
                    <div class="col-md-6 col-lg-4 dt-analysis all">
                        <div class="portfolio-item">
                            <img src="../static/assets/imgs/bellbeat.png" class="img-fluid" alt="Bellabeat analysis using Python">
                            <div class="content-holder">
                                <a class="img-popup" href="../static/assets/imgs/bellbeat.png"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a href="https://www.kaggle.com/code/anyaegbunamalexander/bellabeat-capstone-project-using-python" class="projects" target="_blank">Bellabeat</a></h6>
                                    <p class="subtitle">Fitbit usage analysis with Python</p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 py-projects all">
                        <div class="portfolio-item">
                            <img src="../static/assets/imgs/fastapi.png" class="img-fluid" alt="FASTAPI Swagger UI GUI ">
                            <div class="content-holder">
                                <a class="img-popup" href="../static/assets/imgs/fastapi.png"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a href="https://github.com/Anyaegbunam-Alexander/FASTAPI" class="projects" target="_blank">FASTAPI</a></h6>
                                    <p class="subtitle">API built with FASTAPI, PostgreSQL, and Python</p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 py-projects all">
                        <div class="portfolio-item">
                            <img src="../static/assets/imgs/ahms.png" class="img-fluid" alt="AH_MS_PostgreSQL sample run">
                            <div class="content-holder">
                                <a class="img-popup" href="../static/assets/imgs/ahms.png"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a href="https://github.com/Anyaegbunam-Alexander/AH_MS_PostgreSQL" class="projects" target="_blank">AH_MS_PostgreSQL</a></h6>
                                    <p class="subtitle">A small-scale command-line management system built with PostgreSQL and Python</p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 py-projects all">
                        <div class="portfolio-item">
                            <img src="../static/assets/imgs/bookmarker.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="../static/assets/imgs/bookmarker.png"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a href="https://github.com/Anyaegbunam-Alexander/Bookmaker_API" class="projects" target="_blank">REST API</a></h6>
                                    <p class="subtitle">REST API for bookmarking links built with Flask and Python</p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 py-projects all">
                        <div class="portfolio-item">
                            <img src="../static/assets/imgs/django.png" class="img-fluid" alt="Django app landing page">
                            <div class="content-holder">
                                <a class="img-popup" href="../static/assets/imgs/django.png"></a>
                                <div class="text-holder">
                                    <h6 class="title"><a href="https://github.com/Anyaegbunam-Alexander/django_project" class="projects" target="_blank">Django App</a></h6>
                                    <p class="subtitle">Blog app built with Django, PostgreSQL, and Python</p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    
                </div> 
            </div>  
        </div>            
    </section>
    <!-- End of portfolio section -->
        
    </div>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> Created With <i class="ti-heart text-danger"></i> By <a href="http://devcrud.com" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">Alexander</span></a> 
            </p>
        </div>
    </footer>

	<!-- core  -->
    <script src="../static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="../static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="../static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope  -->
    <script src="../static/assets/vendors/isotope/isotope.pkgd.js"></script>
    
    <!-- JohnDoe js -->
    <script src="../static/assets/js/alexander.js"></script>

</body>
</html>
